/* Root Variables for Consistent Styling */
:root {
    --primary-color: #FF6700; 
    --secondary-color: #C0C0C0; 
    --font-primary: 'Montserrat', sans-serif; 
    --font-secondary: 'Montserrat', serif; 
  }
  
  /* GENERAL  STYLES */
  body {
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    background-color: #f4f4f4; 
    max-width: 1200px; 
    margin: auto; 
  }
  
  /* HEADER  STYLES */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: #ffffff;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.1);
  }
  
  header img {
    max-width: 150px;
    height: auto;
    margin-right: 20px;
  }

  
  nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    padding: 10px 15px;
    border-end-end-radius: 5px;
  }
  
  nav a:hover {
    text-decoration: underline;
    background-color: #7d97b3;
  }
  
  /* HERO SSECTION */
  .hero {
    position: relative;
    text-align: center;
    background-image: url('../images/hero.jpg'); /* Path to hero image */
    background-size: cover;
    background-position: center;
    height: auto;
    color: #ffffff;
  }
  
  .hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
  }
  
  article img {
    float: right;
    margin-left: 20px;
    border-radius: 50%;
    width: 100px; 
  }
  
  /* HISTORY SECTION */
  main section {
    padding: 20px;
  }
  
  main section h2 {
    font-family: var(--font-secondary);
    color: var(--secondary-color);
  }
  
  main section p {
    line-height: 1.6;
  }
  
  /* ADVENTURE IMAGES */
  main section img {
    padding: 40px;
    text-align: center;
    max-width: 100px;
    margin: 10px;
    
  }
  
  /* FOOTER STYLES */
  footer {
    background-color: #28333c;
    color: #ffffff;
    text-align: center;
    padding: 20px;
  }
     /* FOOTER CONTENT */
.footer-content {
  display: flex; 
  justify-content: flex-end;
  align-items: center; }

  footer a img {
    width: 30px;
    height: auto;
    margin: 0 10px;
    transition: transform 0.3s ease;
  }

  /* SOCIAL MEDIA ICONS */
.social-media {
  display: flex; 
  gap: 15px; 
}

.social-media img:hover {
  transform: scale(1.2); 
  cursor: pointer; }

  footer a {
    text-decoration: none; 
  }
  
  footer p {
    margin: 10px 0;
  }